@import url("/opac-tmpl/lib/yui/reset-fonts-grids.css");
@import url("/opac-tmpl/lib/yui/skin.css");
@import url("/opac-tmpl/prog/en/css/opac.css");


/* Begin custom cpbibliography CSS */
html {
    background-color: #424242;
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
	background-color : white;
	text-align : left;
	padding : 0 0 2.5em 0;
}



#notloggedin div.first {
    float: none;
}

#opac-main #opac-main-search {
    background: white;
    border: 0;
}

#opac-main #members {
    border: 1px solid #AAAAAA;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#opac-main #members ul {
    background: none;
}

#opac-main #home {
    display: none;
}

#opac-main #fluid {
    clear: both;
}

#opac-main h1#libraryname {
    display: block;
    background-image: url('../../images/redlogo.png');
    width: 253px;
    height: 128px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    float: none !important;
}


#members {
    background: #AAAAAA;
	font-size : 85%;
	margin-left : -10px;
	margin-right : -10px;
	padding : 4px 0 4px 0;
	color : #000066;
}


#members #home {
    float: left;
    border: none;
}

#members a {
    color: white;
	text-decoration : none;
}

#members a:hover {
    color: #CCCCCC;
}


#members ul {
    color: white;
    background-image: url('../../images/cpbibliography_small.png');
    height: 16px;
    margin: 0 0 0 0.5em;
    background-repeat: no-repeat;
    background-position: center;
	padding : 0;
	text-align : right;
}


#members li {
    padding: 0 1em;
    border-right: 1px solid #999999;
	display : inline;
	list-style : none;
	margin : 0;
}

#members a.logout {
    padding: 0;
	color : #cc3333;
	font-weight : bold;
	text-decoration : none;
}


#members span.loggedinusername {
    color: white;
}

h1#libraryname {
    display: none;
}

#fluid {
    margin-top : .4em;
    margin-left: auto;
    margin-right: auto;
}

#opac-main-search * {
    float: center;
}

#translControl {
    display: inline;
}

#opac-main-search {
    background: #AAAAAA;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #AAAAAA;
	margin-left : -10px;
	margin-right : -10px;
	padding : .7em 0 .4em .5em;
	font-size : 108%;
	line-height : 116%;
}


#opac-main-search form {
    display: block;
    text-align: center;
    width: 100%;
}


#opac-main-search label {
    color: black;
	font-weight : bold;
	margin : .2em .3em 0 0;
}


#cartmenulink, #listsmenulink {
    background: none;
    border: 0;
    color: brown;
    font-size: 100%;
    text-decoration: none;
    font-weight: normal;
    line-height: 100%;
    float: none;
    margin: 0;
    display: inline;
    padding: 0;
}


#cartmenulink:hover, #listsmenulink:hover {
    background: none;
    border: 0;
    color: #CCCCCC;
    font-size: 100%;
    text-decoration: none;
    font-weight: normal;
    line-height: 100%;
    float: none;
    margin: 0;
    display: inline;
    padding: 0;
    left: 0;
}

#cartmenulink span, #listsmenulink span {
    padding: 0;
    left: 0;
    margin: 0;
}

#cartmenulink span span, #listsmenulink span span {
    padding: 0;
    left: 0;
    margin: 0;
}

#cartmenulink span#carticon {
    background: none;
}

#cartmenulink *, #listsmenulink * {
    background: none;
    display: inline;
}

#cartmenulink span#basketcount span {
    background: #CACBCC;
    padding: 1px 0.5em;
    border-radius: 5px;
    border: 1px solid #BABBBC;
	color : #000;
	display : inline;
	float : none;
	font-size : 80%;
	font-weight : normal;
	margin : 0 0 0 .9em;
	position : relative;
	left : auto;
	right : auto;
	top : auto;
}

#listsmenu div, #cartDetails {
    border-radius: 10px;
}

body#advsearch #cartmenulink, body#advsearch #listsmenulink {
    float: none;
}

#moresearches {
    color: #999999;
    margin: 1em auto 0.3em auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
	clear : left;
	font-size : 90%;
	line-height : 110%;
}


#moresearches a:link, #moresearches a:visited {
    color: brown;
	font-weight : normal;
	text-decoration : none;
}

#moresearches a:hover {
    color: #CCCCCC;
}


#opac-main-search #listsmenu .bd {
    background: #E8E8E8;
    padding: 0.5em 0 0.3em 0;
	border : 1px solid black;
}


#opac-main-search #listsmenu ul {
    border-color: black;
}

.showlistactions {
    font-weight: bold;
    vertical-align: middle;
    margin: 5px .5em 0 .5em;
    padding: 3px 3px 5px 5px;
    cursor: pointer;
}

.showlistactions:hover {
    color: #CACBCC;
}

.showlistactions img {
    padding: 2px;
}

.cartlist {
	margin-top : 5px;
    display: none;
    background: #EEEEEE;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    z-index: 2;
}

.showactions {
    font-weight: bold;
    text-decoration: none;
    display: block;
    cursor: pointer;
    font-size: 120%;
}

.showactions:hover {
    color: #CACBCC;
}

.actions {
    display: none;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 2px 0 0;
    padding: 2px;
    float: left;
    position: absolute;
    z-index: 2;
    background: white;
}

.actions a.hold, .actions a.addtoshelf, .actions a.addtolist, .actions a.addtocart {
    margin-left: 2px;
    margin-right: 2px;
    display: block;
    background: none;
    color: #666666;
    font-size: 80%;
    background: url(../../images/arrow.png) no-repeat left 3px;
    padding: 0 0 0 10px;
}

.actions a.hold:hover, .actions a.addtoshelf:hover, .actions a.addtocart:hover {
    color: #333333;
    text-decoration: underline;
}

.searchresults .title {
    color: brown;
    font-size: 120%;
    text-decoration: none;
}

.searchresults .title:hover {
    color: #666666;
    text-decoration: underline;
}

ul.ui-tabs-nav li.ui-tabs-selected a, ul.ui-tabs-nav li.ui-tabs-selected span.a, ul.ui-tabs-nav li a, ul.ui-tabs-nav li span.a, ul.link-tabs li a {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.ui-tabs-panel, .nav_results, #search-facets, .suggestion, .tab-container, fieldset {
    border-radius: 5px;
}

a#MARCview, a#MARCviewPop, a#ISBDview, a#Normalview, a#Fullhistory, a#Briefhistory {
    border-top: 1px solid #F3F3F3;
    border-right: 1px solid #F3F3F3;
	border-left : 1px solid #F3F3F3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	background-color : #F3F3F3;
}

#views {
    padding: 0 2em 1px 0.2em;
	border-bottom : 1px solid #E8E8E8;
	margin-bottom : .5em;
	white-space : nowrap;
}


#advsearch-itemtype td {
    border: 1px solid #F8F8F8;
    border-radius: 5px;
	font-size : 0.8em;
	background-color : #F8F8EB;
}


#leftmenus #menu li a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#userbasket h2 {
    padding: 0.5em;
    background: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}

#kohacredit {
    color: #929292;
    font-size: 0.8em;
    padding: 1em 10px 0 0;
    text-align: right;
    scroll: 10px 5px #FFFFFF;
    border-top: 1px solid #F5F5F5;
    clear: both;
    margin: 2em auto 0;
}

img#bookplate {
    float: right;
    margin: 15px 15px 15px 15px;
    max-height: 100px;
    max-width: 160px;
}

#search-facets li#au_id li a, #search-facets li#branch_id li a, #search-facets li#se_id li a, #search-facets li#su-to_id li a, #search-facets li#su-geo_id li a {
    background: url(../../images/arrow.png) no-repeat left 3px;
    padding: 0 0 0 10px;
    text-decoration: none;
}

a, a:visited, #furtherm a, #furtherm a:link, #furtherm a:visited, #placehold input.submit, #tagsel_span input.submit, .nav_results .l_Results a, input.deleteshelf, div.pages a:visited.nav, div.pages a.nav {
    color: black;
}

a:hover, #furtherm a:hover, #furtherm a:hover, #furtherm a:visited, #placehold input.submit:hover, #tagsel_span input.submit:hover, .nav_results .l_Results a:hover, input.deleteshelf:hover, div.pages a:visited.nav:hover, div.pages a.nav:hover {
    color: #CACBCC;
}

.current {
    color: #666666;
}

.available {
    color: black;
}

#CheckAll, #CheckNone, #highlight_toggle_off, #highlight_toggle_on {
    font-weight: bold;
    text-decoration: none;
}

#action_menu {
    background: #E1E1E1;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin-top: 1em;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
}

#export {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#action, #export {
    display: none;
    margin-top: 0;
}

#action a.reserve, #action a.print, #action a.addtoshelf, #action a.addtocart {
}

.cartlist input.submit, #tagsel_button, #searchsubmit {
    background: #8A8B8C;
    border-color: #CACBCC;
    border-radius: 5px;
    padding: 0.3em 1em;
    color: white;
}

.cartlist input.submit:hover, #tagsel_button:hover, #searchsubmit:hover {
    background: #CACBCC;
}

#login {
    display: none;
    width: 0px;
}

#transl1 {
    height: 18px;
}

#masthead_search, #select_library {
    border: 1px solid #CACBCC;
    height: 22px;
    -webkit-appearance: menulist-button;
}

table#marc th {
    background-color: #E7E8E9;
    text-align: left;
}

#userresults table, #userresults tbody, #userresults tr:first-child {
    border-collapse: separate;
}

td.resultscontrol,
.searchresults td.resultscontrol {
    background-image: none;
	background-color : #E8E8E8;
	border : none;
	vertical-align : middle;
	padding : 3px 3px 5px 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.searchresults td, .searchresults th, .searchresults table {
    background-image: linear-gradient(bottom, rgb(238,238,238) 100%, rgb(243,243,243) 56%, rgb(255,255,255) 0%);
    background-image: -o-linear-gradient(bottom, rgb(238,238,238) 100%, rgb(243,243,243) 56%, rgb(255,255,255) 0%);
    background-image: -moz-linear-gradient(bottom, rgb(238,238,238) 100%, rgb(243,243,243) 56%, rgb(255,255,255) 0%);
    background-image: -webkit-linear-gradient(bottom, rgb(238,238,238) 100%, rgb(243,243,243) 56%, rgb(255,255,255) 0%);
    background-image: -ms-linear-gradient(bottom, rgb(238,238,238) 100%, rgb(243,243,243) 56%, rgb(255,255,255) 0%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(1, rgb(238,238,238)), color-stop(0.56, rgb(243,243,243)), color-stop(0, rgb(255,255,255))); 
    border: 0;
}
